.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;

  aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 244px;

    .logo {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: center;

      h1 {
        font-size: xx-large;
        letter-spacing: 2px;
      }
    }
  }

  @media only screen and (min-width: 600px) {
    .container {
      height: auto;
    }
  }
}
